[Desktop Entry]
Type=Application
Name=Xfce Screensaver
Name[bg]=Предпазител на екрана на Xfce
Name[de]=Xfce Bildschirmschoner
Name[fr]=Économiseur d’écran de Xfce
Name[it]=Xfce Screensaver
Name[ja]=Xfce Screensaver
Name[lt]=Xfce ekrano užsklanda
Name[nl]=Xfce-schermbeveiliging
Name[pl]=Wygaszacz ekranu Xfce
Name[pt]=Proteção de ecrã do Xfce
Name[ru]=Хранитель экрана Xfce
Name[sq]=Ekrankursyes Xfce
Name[sr]=Чувар заслона ИксФЦЕ-а
Name[zh_CN]=Xfce 屏幕保护程序
Name[zh_TW]=Xfce 螢幕保護程式
Comment=Launch screensaver and locker program
Comment[be]=Запусціць ахоўнік экрана і праграму блакавання
Comment[bg]=Стартиране на предпазителя и програмата за заключване на екрана
Comment[ca]=Llança l'estalvi de pantalla i el programa de bloqueig
Comment[cs]=Spouští šetřič a zámek obrazovky
Comment[da]=Start pauseskærms- og låserprogram
Comment[de]=Bildschirmschoner und das Sperrprogramm starten
Comment[en_AU]=Launch screensaver and locker program
Comment[es]=Ejecutar el salvapantallas y el programa de bloqueo
Comment[eu]=Pantaila-babesle eta programa blokeatzailea exekutatu
Comment[fi]=Käynnistä näytönsäästäjä ja näytönlukitus
Comment[fr]=Lancer l’économiseur d’écran et le programme de verrouillage
Comment[gl]=Executar o protector de pantalla e o bloqueo
Comment[he]=הפעל שומר מסך ותוכנית נועל
Comment[hu]=Képernyővédő és a zárolási program indítása
Comment[hy_AM]=Գործարկել էկրանապահը եւ կողպման ծրագիրը
Comment[is]=Keyra skjáhvílu og læsingaforrit
Comment[it]=Avvia il salvaschermo e il programma di blocco
Comment[ja]=スクリーンセーバーとロッカープログラムを起動する
Comment[ko]=화면 보호기 및 잠금 프로그램 실행
Comment[lt]=Paleisti ekrano užsklandą ir užrakinimo programą
Comment[ms]=Lancar penyelamat skrin dan program pengunci
Comment[nb]=Kjør skjermsparer og skjermlås
Comment[nl]=Schermbeveiliging en vergrendelprogramma starten
Comment[pl]=Uruchom wygaszacz ekranu i program blokady
Comment[pt]=Lançar proteção de ecrã e programa de bloqueio
Comment[pt_BR]=Iniciar programa de bloqueador e protetor de tela 
Comment[ru]=Запустить хранитель и блокировщик экрана
Comment[sk]=Spustiť šetrič obrazovky a zamykací program
Comment[sl]=Zaženi program ohranjevalnika zaslona in ključavnice
Comment[sq]=Nis programin ekrankursyes dhe kyçës
Comment[sr]=Покрени програм чувара и закључавања приказа
Comment[sv]=Starta skärmsläckare och låsprogram
Comment[th]=เรียกโปรแกรมรักษาหน้าจอและโปรแกรมล็อคหน้าจอ
Comment[tr]=Ekran koruyucu ve kilitleme programını başlat
Comment[zh_CN]=启动屏幕保护和锁定程序
Comment[zh_TW]=啟動螢幕保護程式與鎖定程式
GenericName=Screensaver
GenericName[be]=Ахоўнік экрана
GenericName[bg]=Предпазител на екрана
GenericName[ca]=Estalvi de pantalla
GenericName[cs]=Šetřič obrazovky
GenericName[da]=Pauseskærm
GenericName[de]=Bildschirmschoner
GenericName[en_AU]=Screensaver
GenericName[es]=Salvapantallas
GenericName[eu]=Pantaila-babeslea
GenericName[fi]=Näytönsäästäjä
GenericName[fr]=Économiseur d’écran
GenericName[gl]=Protector de pantalla
GenericName[he]=שומר מסך
GenericName[hu]=Képernyővédő
GenericName[hy_AM]=Էկրանապահ
GenericName[is]=Skjáhvíla
GenericName[it]=Salvaschermo
GenericName[ja]=スクリーンセーバー
GenericName[ko]=화면 보호기
GenericName[lt]=Ekrano užsklanda
GenericName[ms]=Penyelamat Skrin
GenericName[nb]=Skjermsparer
GenericName[nl]=Schermbeveiliging
GenericName[pl]=Wygaszacz ekranu
GenericName[pt]=Proteção de ecrã
GenericName[pt_BR]=Protetor de tela
GenericName[ru]=Хранитель экрана
GenericName[sk]=Šetrič obrazovky
GenericName[sl]=Ohranjevalnik zaslona
GenericName[sq]=Ekrankursyes
GenericName[sr]=Чувар приказа
GenericName[sv]=Skärmsläckare
GenericName[th]=โปรแกรมรักษาหน้าจอ
GenericName[tr]=Ekran Koruyucu
GenericName[zh_CN]=屏幕保护
GenericName[zh_TW]=螢幕保護程式
Icon=org.xfce.ScreenSaver
Exec=xfce4-screensaver
OnlyShowIn=XFCE;
NoDisplay=true
X-XFCE-Autostart-Phase=Application
X-XFCE-Autostart-Notify=true
X-XFCE-Bugzilla-Bugzilla=XFCE
X-XFCE-Bugzilla-Product=xfce4-screensaver
X-XFCE-Bugzilla-Component=general
X-XFCE-Bugzilla-Version=4.18.2
